*{
    margin: 0px;
    padding: 0px;
    
}

ul{
    list-style: none;
}

body{
    background: #0C1823;
}

.cabecera{
    background: #0C1823;
    width: 100%;
    height: 20px;
}

.cabecera img{
    width: 150px;
    height: auto;
}


.cpanel{
    float: left;
    width: 15%;
    margin: 5px;
    padding: 5px;
    color: cyan;
}

.cuerpo{
    float: left;
    width: 80%;
    
    margin-left: 5px;
    margin-top: 25px;
    padding: 0px 5px;
    background: white;

}
.pie{
    position: bottom;
    text-align: center;
    width: 100%;
    height: 20px;
}
